<?xml version="1.0"?>
<config>
    <modules>
        <Magelk_Charity>
            <version>0.1.1</version>
        </Magelk_Charity>
    </modules>
    <global>
        <models>
            <magelk_charity>
                <class>Magelk_Charity_Model</class>
                <resourceModel>charity_entity</resourceModel>
            </magelk_charity>
            <charity_entity>
                <class>Magelk_Charity_Model_Mysql4</class>
                <entities>
                    <org>
                        <table>magelk_charity_organization</table>
                    </org>
                    <txn>
                        <table>magelk_charity_transaction</table>
                    </txn>
                    <product>
                        <table>magelk_charity_organization_products</table>
                    </product>
                </entities>
            </charity_entity>
        </models>
        <blocks>
            <magelk_charity>
                <class>Magelk_Charity_Block</class>
            </magelk_charity>
        </blocks>
        <helpers>
            <magelk_charity>
                <class>Magelk_Charity_Helper</class>
            </magelk_charity>
        </helpers>
        <resources>
            <magelk_charity_setup>
                <setup>
                    <module>Magelk_Charity</module>
                </setup>
            </magelk_charity_setup>
        </resources>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <xyz_catalog_price_observer>
                        <type>singleton</type>
                        <class>Magelk_Charity_Model_Observer</class>
                        <method>createTxn</method>
                    </xyz_catalog_price_observer>
                </observers>
            </checkout_cart_add_product_complete>
            <sales_order_place_after>
                <observers>
                    <order_place_obs>
                        <type>singleton</type>
                        <class>Magelk_Charity_Model_Observer</class>
                        <method>orderComplete</method>
                    </order_place_obs>
                </observers>
            </sales_order_place_after>
            <checkout_cart_update_items_after>
                <observers>
                    <update_cart_event>
                        <type>singleton</type>
                        <class>Magelk_Charity_Model_Observer</class>
                        <method>updateQty</method>
                    </update_cart_event>
                </observers>
            </checkout_cart_update_items_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <magelk_charity>
                    <!--
                    We again keep a nice naming convention and make our module upgrade proof by placing it in a separate folder
                    - Since we are in the adminhtml node, this will look for the XML file in the app/design/adminhtml/default/default root folder
                    -->
                    <file>charity.xml</file>
                </magelk_charity>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magelk_Charity before="Mage_Adminhtml">Magelk_Charity_Adminhtml</Magelk_Charity>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <magelk_charity>
                    <!--
                    We again keep a nice naming convention and make our module upgrade proof by placing it in a separate folder
                    - Since we are in the adminhtml node, this will look for the XML file in the app/design/adminhtml/default/default root folder
                    -->
                    <file>charity.xml</file>
                </magelk_charity>
            </updates>
        </layout>
    </adminhtml>
</config>